<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createBoleta">Create new Boleta</label>
                <label ng-if="edit" id="editBoleta">Edit Boleta</label></div>
            <div class="panel-body">
                <form ng-submit="createBoleta()" name="boleta">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="boletaCodigoBarras" class="col-sm-2">Codigo de Barras:</label>
                            <input id="boletaCodigoBarras" required ng-model="boletaCodigoBarras" class="col-sm-6"/>
                        </div>
                    </div>
                       <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="boletaEstado" class="col-sm-2">Estado Boleta: </label>
                            <input id="boletaEstado" required ng-model="boletaEstado" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="boletaPrecio" class="col-sm-2">Precio: </label>
                            <input id="boletaPrecio" placeholder="5000" required ng-model="boletaPrecio" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="idFuncion" class="col-sm-2">ID de la Función:</label>
                            <input id="idFuncion" required ng-model="idFuncion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="idSilla" class="col-sm-2">ID de la Silla:</label>
                            <input id="idSilla" required ng-model="idSilla" class="col-sm-6"/>
                        </div>
                    </div>
                   <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!boleta.$valid">
                            <div class="alert alert-warning">
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="boleta.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="boletasList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
