<div class="thumbnail">
	<div class="panel panel-default"> 
		<div class="panel-body" ng-if="!isAuthenticated()">
                    <h2>Introduzca su usuario y contraseña</h2>
                    <br>
                    <form class="form-signin">
                        <table class="login table-hover">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
                            <tr>
                                <td class="tablaLogin">Usuario</td>
                                <td class="tablaLogin"><input type="text" class="form-control" ng-model="data.username" required/></td>
                            </tr>
                            <tr>
                                <td class="tablaLogin">Contraseña</td>
                                <td class="tablaLogin"><input type="password" class="form-control" ng-model="data.password" required/></td>
                            </tr>
                            <tr>
                                <td class="tablaLogin"></td>
                                <td class="tablaLogin">
                                    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="data.rol" required>
                                        <option value="">--- Seleccione un rol ---</option>
                                        <option value="admin">Administrador</option>
                                        <option value="assistant">Asistente</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <button type="submit" ng-click="autenticar()" class="btn btn-primary btn-block">Entrar</button>
                    </form>   
            </div>
    </div>
</div>