.starrr {
	display: inline-block; 

}

.starrr a {
	font-size: 16px;
	padding: 0 1px;
	cursor: pointer;
	color: #ff6868;
	text-decoration: none; 
}

.star-ratings-css {
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	font-size: 25px;
	height: 25px;
	width: 100px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;


} 
.star-ratings-css::before { 
	content: '★★★★★';
	opacity: .3;
	height: 25px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}

.cointainerEstrellas{
	width: 100px;
	height: auto;
	display: table;
	position: relative;
	
}

[title='0.000']::after { width: 0% }
[title='0.333']::after { width: 6% }
[title='0.667']::after { width: 13% }
[title='1.000']::after { width: 20% }
[title='1.333']::after { width: 26% }
[title='1.667']::after { width: 33% }
[title='2.000']::after { width: 40% }
[title='2.333']::after { width: 46% }
[title='2.667']::after { width: 53% }
[title='3.000']::after { width: 60% }
[title='3.333']::after { width: 66% }
[title='3.667']::after { width: 73% }
[title='4.000']::after { width: 80% }
[title='4.333']::after { width: 86% }
[title='4.667']::after { width: 93% }
[title='5.000']::after { width: 100% }

.star-ratings-css::after {
	color: #ff6868;
	content: '★★★★★';
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top:0;
	width: attr(rating);
	overflow: hidden;
	-webkit-text-stroke: 1px #383838;
	height: 27px;
	align-self: center;
	z-index: -1;
}




