.btn-a-icon{
	color: #fff
}
ul {
	max-width: inherit;
}

body {
	background-color: #293047;
}


#divMain {
	float: fixed;  
	width : inherit; 
	padding : 0px;  
	height : 100%
}

.thumbnail {
	background: #efe8e6;
	float: center;
	align-content: center;
}

#containerNavbar{
	background: #e5dedc;
}

li {
	background: #e5dedc;
	text-align: left;
}

#banner {
    width:inherit;
    padding:0px; 
}

#divBanner {
	width: 100%;
	height: 280px;
}