<h4>Cambiar una patrocinador</h4>
<form ng-submit="updateSala(patrocinadorSeleccionado.id)" name="updatePatrocinadorForm">
    <select class="form-control" style="width:100%; margin-right: 10px; margin-bottom: 5px" ng-model="patrocinadorSeleccionado" 
            ng-options="patrocinador as patrocinador.name for patrocinador in patrocinadores"></select>
    <table class="table table-hover">
      <tr>
        <th>Campo</th>
        <th>Seleccionado</th>
        <th>Nuevos valores</th>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{patrocinadorSeleccionado.name}}</td>
        <td><input id="patNombre" type="text" required ng-model="name"/></td>
      </tr>
      <tr>
        <td>Sillas</td>
        <td>{{patrocinadorSeleccionado.patrocinio | currency}}</td>
        <td><input id="patPatrocinio" type="number" required ng-model="patrocinio"/></td>
      </tr>
      <tr>
        <td>Preferenciales</td>
        <td>{{patrocinadorSeleccionado.NIT}}</td>
        <td><input id="patNIT" type="number" required ng-model="NIT"/></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><input type="submit"/></td>
      </tr>
    </table>
</form>