<div class="thumbnail">
	<div class="panel panel-default"> 
		<div class="panel-body">
			<h1> Nueva Película </h1>
			<form ng-submit="createPelicula()" name="createPeliForm">
				<div class="form-group">

					<label for="nombre">Nombre:</label>
					<input type="text" class="form-control" id="nombre" placeholder="Planet of the Apes" name="nombre" ng-model="peliculaNombre">
					
					<label for="director">Director:</label>
					<input type="text" class="form-control" id="director" placeholder="Franklin Schaffner" name="director" ng-model="peliculaDirector">

					<label for="genero">Género:</label>
					<input type="text" class="form-control" id="genero" placeholder="Acción|Terror|Aventura" name="genero" ng-model="peliculaGenero">

					<label for="duracion">Duración:</label>
					<input type="number" min="0" class="form-control" id="duracion" placeholder="112" name="duracion" ng-model="peliculaDuracion">

					<label for="pais">País:</label>
					<input type="text" class="form-control" id="pais" placeholder="Estados Unidos" name="pais" ng-model="peliculaPais">

					<label for="creditos">Créditos:</label>
					<input type="number" min="0" class="form-control" id="creditos" placeholder="12" name="creditos" ng-model="peliculaCreditos">
				</div>
				<div class="form-group">
					<label for="corto">Corto:</label>
					<input type="url" class="form-control" id="url" placeholder="https://youtu.be/zx545VKYfLI" name="corto" ng-model="peliculaCorto">
				</div>
				<button type="submit" class="btn btn-primary">Crear</button>
			</form>
		</div>
	</div>

</div>