<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="resources/css/starrr.css">
<script  src="src/modules/peliculas/starrr.js"></script>

<script>
	$('#funciones-panel').resize(function() {
		$('#scrollCalificaciones').height($('#funciones-panel').height());
	});
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-lg-4">
			<img class="thumbnail" src="{{pelicula.imagen}}" style="width: 100%; display: inline-block;" />
		</div>
		<div class="col-sm-12 col-lg-8">
			<br>
			<p><b>Director: </b>{{pelicula.director}}</p>
			<p><b>Genero: </b>{{pelicula.genero}}</p>
			<p><b>Duración: </b>{{pelicula.duracionMinutos}}</p>
			<p><b>País: </b>{{pelicula.pais}}</p>
			
			<br>
			<p style="text-align: justify;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt fermentum enim, ut consectetur massa tempor ac. Nunc dapibus ipsum ac dolor malesuada pretium. Nulla dapibus id augue ut accumsan. Cras ornare vehicula egestas. Mauris vestibulum aliquam odio a malesuada. Fusce auctor lorem ullamcorper luctus eleifend. Nullam finibus nec nisi a facilisis. Integer elementum, est quis convallis hendrerit, mauris ante tempus felis, id congue nunc lectus id massa. Vestibulum quis est sed purus consequat congue nec quis risus. Phasellus luctus, quam bibendum pretium tempus, neque diam iaculis erat, quis eleifend leo tellus eget massa. Sed condimentum eget augue quis dictum. Ut posuere nunc eros, at suscipit massa hendrerit id. Nulla in nulla aliquam, ullamcorper lacus ut, laoreet lacus. Vivamus commodo eros ut nunc rutrum, eu rhoncus justo semper.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-8">
			<br>
			<br>
			<div class="panel-group" id="funciones-panel">
				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse" data-target="#funciones">
						<h4 class="panel-title">
							<p>Funciones</p>
						</h4>
					</div>
					<div id="funciones" class="panel-collapse collapse">
						<div class="panel-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>N°</th>
										<th>Teatro</th>
										<th>Fecha</th>
										<th>Hora Inicio</th>
										<th>Hora Fin</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="funcion in funcionesRet">

										<td id="{{$index}}-id">{{funcion.no}}</td>
										<td id="{{$index}}-teatro"><p> teatro en construcción </p></td>
										<td id="{{$index}}-fecha"><p> {{funcion.fecha}} </p></td>
										<td id="{{$index}}-horaInicio">{{funcion.horaInicio}}</td>
										<td id="{{$index}}-horaFin">{{funcion.horaFin}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-4">
			<di
			<div class="scrollableDivSquare" id="scrollCalificaciones">
				
				<div class="resumenCal"> 
					<p style="display: table-row;"><b>Total Calificaciones: </b> {{totalCal}} </p>
				</div>
				<div class="sticky" id="promedio-calificacion">
					<table class="tabla-promedio">
						<tr>
							<th>
								<p>Calificación:</p>
							</th>
							<th>
								<div class="cointainerEstrellas">
									<div class="star-ratings-css" title="{{darPromEstrella(darPromedioRond(promedio, 3))}}"></div>
								</div>
								<span > Promedio: {{darPromedioRond(promedio, 2)}} </span>
							</th>
						</tr>
					</table>



				</div>
				<div class="calificaciones">
					<div class="calificacionN" ng-repeat="calificacion in calificaciones">
						<div style="margin: 15px">
							<p style="font-size: 18px; height: auto; margin: 0px;"> {{darPromedioRond(calificacion.calificacion, 2)}} </p>
							<div class="cointainerEstrellas" style="opacity: 0.6; margin: 0px;">
								<div class="star-ratings-css" title="{{darPromEstrella(darPromedioRond(calificacion.calificacion, 3))}}"></div>
							</div>

							<p style="font-size: 15px;"> {{calificacion.comentario}} </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



