<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Abono:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="col-md-4">
        <div class="row">
            <dt>Identificador: </dt><dd><li id="{{$index}}-id">{{abono.id}}</li></dd>   
        </div>
        <div class="row">
            <dt>Precio: </dt><dd><li id="{{$index}}-id">{{abono.precio}}</li></dd>   
        </div>
        <div class="row">
            <dt>Información espectador</dt>
            <dt>Id: </dt><dd><li id="{{$index}}-id">{{abono.espectador.id}}</li></dd>
            <dt>Nombre: </dt><dd><li id="{{$index}}-id">{{abono.espectador.nombre}}</li></dd>
            <dt>Dirección: </dt><dd><li id="{{$index}}-id">{{abono.espectador.Direccion}}</li></dd>
        </div>
        <div class="row">
            <dt>Boletas: </dt>   
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Precio</th>
                    <th>CodigoDeBarras</th>
                    <th>Opciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in abono.boletas">
                    <td id="{{$index}}-id">{{i.id}}</td>                                  
                    <td id="{{$index}}-estado">{{i.estado}}</td> 
                    <td id="{{$index}}-precio">{{i.precio}}</td> 
                    <td id="{{$index}}-codigoDeBarras">{{i.codigoDeBarras}}}</td> 
                    <td><button type = "button" ng-click = "toBoletasGetFromList(i.id)">Detalles</button></td>
                    <td><button type = "button" ng-click = "removeBoletaFromAbono(abono.id, i.id)">Remover de este Abono</button></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <button type = "button" ng-click = "addBoletaToAbono(abono.id, boletaId)">Agregar Boleta</button>
            <input type = "text" id="{{$index}}-id" ng-model = "boletaId" placeHolder = "10"></input>
        </div>
        
        <div class="row">
            <button type = "button" ng-click = "toAbonos()">Regresar</button><button type = "button" ng-click = "toUpdateAbono(abono.id)">Modificar</button>
        </div>
    </div>
</div>
    </body>
</html>
